---
apiVersion: v1
kind: Service
metadata:
  name: ml-model-service
  namespace: ml-model
spec:
  type: LoadBalancer
  ports:
  - port: 8080
  selector:
    app: ml-model
# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: ml-model-deployment
#   namespace: ml-model
#   labels:
#     app: ml-model
# spec:
#   replicas: 3
#   selector:
#     matchLabels:
#       app: ml-model
#   template:
#     metadata:
#       labels:
#         app: ml-model
#     spec:
#       containers:
#       - name: ml-model-container
#         image: iad.ocir.io/apaccpt03/mlops-model:${BUILDRUN_HASH}
#         resources:
#           requests:
#             memory: "500Mi"
#             cpu: "1000m"
#           limits:
#             memory: "1Gi"
#             cpu: "2000m"
#         ports:
#         - containerPort: 8080
#       imagePullSecrets:
#       - name: ocir-secret
# ---